template(name="categoryMenu")
  .bs-docs-sidenav.affix(data-spy="affix")
    ul#categoryMenu.nav.nav-list(data-path="{{hash.path}}")
      li.category(class="{{selectedAll}}")
        a(href="all") {{ t "category.all" }}

      {{#if loading}}
        li
          a(href="#", disabled="disabled") Loading...

      {{else}}
        {{#each categories}} 
          li.category(class="{{selected}}")
            {{#if editing}}
              input#category-name-input(class="category-name-input", type="text", value="{{title}}")
            {{else}}
              a(href="{{_id}}") {{title}}
            {{/if}}
        {{/each}} 
      {{/if}}

    #createCategory
      input(type="text", id="new-category", placeholder="{{ t 'category.new' }}")
