template(name='header')
  header.navbar
    .navbar-inner
      a.brand(href="/") My Money
      ul.nav
        {{#if currentUser}}
          {{navLink 'postsPage' 'post.plural'}}
          {{navLink 'categoryList' 'category.plural'}}
          {{navLink 'commonStatsPage' 'stats.title'}}
        {{/if}}

      ul.nav.pull-right
        li {{loginButtons align="right"}}
