template(name="postItem")
  form.post.form-inline(data-date="{{date}}")
    .span4 {{title}}
    .span2
      span.ruble-times
        | Р
        span уб.
      span.money {{amount}}
    .span2
      button.btn.btn-danger(data-id="{{_id}}")
        i.icon-remove.icon-white
