template(name="postList")
  {{> dateFilter }}
  {{> newPost}}

  .clearfix

  .alert.alert-info
    | Итого:&nbsp;
    span.ruble-times
        | Р
        span уб.
    span#total.money

    .pull-right#dataFromAndTo(style="display: none")
      | Данные&nbsp;
      span#dataFrom
        | c&nbsp;
        span 01.01.2013
        &nbsp;
      span#dataTo
        | по&nbsp;
        span 01.01.2013

  {{#each posts}}
    {{$ "postItem"}}
  {{/each}}
