template(name="commonStats")
  .page-header
    h1 {{t "stats.title" defaultValue="Statistics"}}

  {{#each stats}}
    .post(data-year="{{year}}")
      .span2 {{monthName}}
      .span2
        span.ruble-times
          | Р
          span уб.
        span.money {{sum}}}
  {{/each}}
