template(name="commonStats")

  {{#each stats}}
    .post(data-year="{{year}}")
      .span2 {{monthName}}
      .span2
        span.ruble-times
          | Р
          span уб.
        span.money {{sum}}}
  {{/each}}
